<div class="row">
    <div class="col-lg-12">
        <img src="/images/Hero - Summer_zpsdxs6fteg.jpg">
    </div>


</div>
<div class="row">
    <div class="col-lg-12">
        <h3>{{{__ "Services Suited for:"}}}</h3>
        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/Employees_zpsw2pgyctx.jpg">
            </div>
            <div class="col-lg-9">
                <a href="/">{{{__ "Expatriates"}}}</a>
                <br>
                <span >
                    {{{__ "Family immigration and relocation solutions for newly hired expatriates in need of a quick and hassle-free start to work in Austria.

If you have a job offer from a company in Austria, then you and your spouse will benefit from these services.

VIA Service is not a manpower / HR / staffing agency."}}}
                </span>
            </div>
        </div>

        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/Investor_zpsr8uv9t7b.jpg">
            </div>
            <div class="col-lg-9">
                <a href="/">{{{__ "Entrepreneurs"}}}</a>
                <br>
                <span >
                    {{{__ "Immigration and business start-up packages for experienced business people who are prepared to invest in and actively manage a business in Austria.

If you are preparing to open a business, expand your existing business, or buy a business in Austria, then you will need these services."}}}
                </span>
            </div>
        </div>

        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/student - happy_zpsz8aid28e.jpg">
            </div>
            <div class="col-lg-9">
                <a href="/">{{{__ "Students"}}}</a>
                <br>
                <span >
                    {{{__ "Services for international students preparing for studies in Austria. Support for secondary school, boarding school and university entrants.

If you would like to continue your schooling in Austria, then these services will get you started on the right foot."}}}
                </span>
            </div>
        </div>

        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/05367e40-e255-48ea-ab38-72eefb052743_zpsoqhzrh8i.jpg">
            </div>
            <div class="col-lg-9">
                <a href="/">{{{__ "Privatier - Individuals, Families, Retirees"}}}</a>
                <br>
                <span >
                    {{{__ "Immigration and integration services for qualified, financially secure persons who want and have the means to enjoy a non-working life in Austria.

If you don't want to go it alone, then these services will guide and support you through the A to Z of the relocation process."}}}
                </span>
            </div>
        </div>
    </div>
</div>
<hr width="100%" style="height: 2%">

<div class="row">
    <div class="col-lg-12">
        <h3>{{{__ "Success Stories"}}}</h3>
        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/01_zps19nqvenl.jpg">
            </div>
            <div class="col-lg-9">
                <label>{{{__ '"I regret that I did not make the move in my youth."'}}}</label>
                <br>
                <span >
                    {{{__ "I’ve been living in Austria for 10 years now and I love it. You have a high standard of living [even] with an average income. And with the quality of health services, I have complete peace of mind. I regret that I did not make the move in my youth.

- Vagif G, Privatier."}}}
                </span>
            </div>
        </div>

        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/02_zpswlvlfxlt.jpg">
            </div>
            <div class="col-lg-9">
                <label>{{{__ '"Getting all my \'ducks in a row\' alone was disheartening..."'}}}</label>
                <br>
                <span >
                    {{{__ "I've always wanted to experience living overseas but getting all my “ducks in a row” alone (even with a job waiting for me!) was disheartening. Thank you for guiding me through the whole process and with requirements I never knew existed.

- Anna B, Expat"}}}
                </span>
            </div>
        </div>

        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/03_zps1nkrqge7.jpg">
            </div>
            <div class="col-lg-9">
                <label>{{{__ '"We fell in love with the country and naturally started making long-term plans for a life in Austria."'}}}</label>
                <br>
                <span >
                    {{{__ "Last year I formed an Austrian company to do business (IT sector) in the EU. Why Austria? We fell in love with the country and naturally started making long-term plans for a life here. Our next step? To acquire real estate in Vienna.

- Sergey K, Entrepreneur"}}}
                </span>
            </div>
        </div>

        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/04_zpsw3nf5ok4.jpg">
            </div>
            <div class="col-lg-9">
                <label>{{{__ '"Our kids are happy, so we are happy!"'}}}</label>
                <br>
                <span >
                    {{{__ "We had some concerns about moving to Austria, mostly because of the language requirements. But we did it for our children and so far, so good! The eldest has already picked up German and likes his new school. Our kids are happy, so we are happy.

- Family M, Privatier"}}}
                </span>
            </div>
        </div>

        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/06_zpshoc9vkzn.jpg">
            </div>
            <div class="col-lg-9">
                <label>{{{__ '"I would have missed my first semester in university if not for VIA Service."'}}}</label>
                <br>
                <span >
                    {{{__ "I would have missed my first semester in university if not for VIA Service. It’s worth getting their help if you’d rather avoid that kind of stress as well as last-minute panic trying to get your student residence permit!

- David A, Student"}}}
                </span>
            </div>
        </div>

        <div class="row study">
            <div class="col-lg-3">
                <img src="/images/05_zpsxyge64eh.jpg">
            </div>
            <div class="col-lg-9">
                <label>{{{__ '"We received our residence permits on the first attempt!"'}}}</label>
                <br>
                <span >
                    {{{__ "The deciding factor for us was to find professionals who have actually helped others immigrate to Austria. Our friends referred us to VIA Service, with whom we applied & received our residence permits on the first attempt!

- Elena P, Privatier"}}}
                </span>
            </div>
        </div>
        <div class="row study">
            <div class="col-lg-4">
                <h3>Ready to Get Us Working for You?</h3>
                <span>The first step is to <a href="/">get in touch with us</a>.</span>
            </div>
        </div>
    </div>
</div>