{{#section 'head'}}
    <link href="/vendor/jquery.dataTables.min.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="/stylesheets/formStyle.css" rel="stylesheet">
{{/section}}
<div class="container main">
    <header class="row">
        <div class="col-lg-3">
            <label id="error"></label>
        </div>
        <div class="col-lg-6">
            <h2 class="title-Detail"><span id="disLocation">{{location}}</span>: {{{__ "Macro Detail"}}}</h2>
            <a href="/station/macro/macroJobList">{{{__ "Macro Job List"}}}</a>
        </div>
        <div class="col-lg-3">

        </div>
    </header>
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Informations: "}}}</label>
                    <br>
                    <br>
                    <ul id="infos" class="info">

                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Errors"}}}</label>
                    <br>
                    <br>
                    <ul id="errors" class="error">

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-6 details">
            <input id="assemblyId" class="hidden" value="{{assembly.id}}">
            <div class="">
                <ul id="navBar" class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#general">{{{__ "General"}}}</a></li>
                    <li class="hidden"><a href="#scale">{{{__ "Scale"}}}</a></li>
                </ul>

                <div class="tab-content">
                    <div id="general" class="tab-pane fade in active">

                        <div class="row">
                            <div class="col-lg-12">
                                <table id="toAssemblyTable" class="table table-bordered table-hover">
                                    <caption>{{{__ "To Assembly ingredients"}}}</caption>
                                    <thead>
                                    <tr>
                                        <th>{{{__ "ProductIdent"}}}</th>
                                        <th>{{{__ "TargetWeight"}}}</th>
                                        <th>{{{__ "ActualWeight"}}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each toAssemblyItems}}
                                        <tr id="{{id}}">
                                            <td><input type="text" value="{{productIdent}}" disabled></td>
                                            <td><input type="number" value="{{targetWeight}}" disabled></td>
                                            <td><input type="number" class="actualWeight" value="{{actualWeight}}" disabled></td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table id="haveAssemblyedTable" class="table table-bordered table-hover">
                                    <caption>{{{__ "have assemblyed"}}}</caption>
                                    <thead>
                                    <tr>
                                        <th>{{{__ "ProductIdent"}}}</th>
                                        <th>{{{__ "ActualWeight"}}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each assemblyedItems}}
                                        <tr id="{{id}}">
                                            <td>{{productIdent}}</td>
                                            <td>{{actualWeight}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="col-lg-3">{{{__ "Please scan barcode"}}}</label>
                                <input id="barcode" class="col-lg-6">
                                <button id="confirmBarcode" class="btn btn-primary">{{{__ "Confirm"}}}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">

                                <button id="printAssembly" class="btn btn-primary" disabled>{{{__ "Print"}}}</button>
                                <!--<button id="testTab" class="btn btn-primary">{{{__ "Test tab"}}}</button>-->
                                <input id="state" class="hidden" value="{{assembly.state}}">
                            </div>
                        </div>
                    </div>
                    <div id="scale" class="tab-pane fade">
                        <div class="row weight">
                            <div class="col-lg-12">
                                <div id="progressbar"></div>
                            </div>
                            <style>
                                .ui-progressbar {
                                    height: 100px;
                                    background: transparent;
                                    background-color: dimgray;
                                }

                                #progressbar .ui-progressbar-value {
                                    background: transparent;
                                    background-color: #009926;
                                }

                                .weightCtr {
                                    height: 100px;
                                }

                                .weight {
                                    padding-top: 2%;
                                }
                            </style>
                        </div>
                        <div class="row weight">
                            <div class="col-lg-12">
                                <label class="col-lg-2 col-sm-6">{{{__ "Target weight"}}}</label>
                                <input id="targetWeight" class="col-lg-4 weightCtr" disabled>
                                <label class="col-lg-2 col-sm-6">{{{__ "Actual weight"}}}</label>
                                <input id="actualWeight" class="col-lg-4 weightCtr" disabled>
                            </div>
                        </div>
                        <div class="row weight">
                            <div class="col-lg-12">
                                <button id="tare" class="col-lg-3 weightCtr btn btn-info">{{{__ "Tare"}}}</button>
                                <!--<button id="scaleWeight" class="col-lg-3">{{{__ "Scale"}}}</button>-->
                                <button id="acceptWeight" class="col-lg-3 weightCtr btn" disabled>{{{__ "Accept"}}}</button>
                            </div>
                            <div class="col-lg-12 weight">
                                <button id="interrupt" class="col-lg-3 weightCtr">{{{__ "Interrupt"}}}</button>
                                <button id="test" class="col-lg-3 weightCtr">{{{__ "Test"}}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
{{#section 'jquery'}}
    <script src="/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/macro.js"></script>
{{/section}}
