{{#section 'head'}}
    <link href="/vendor/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/stylesheets/formStyle.css" rel="stylesheet">
{{/section}}








<div class="container main">
    <header class="row">
        <div class="col-lg-3">
            <label id="error"></label>
        </div>
        <div class="col-lg-6">
            <h2 class="title-Detail">{{{__ "Product Detail"}}}</h2>
            <a href="/product/productList">{{{__ "Product List"}}}</a>
        </div>
        <div class="col-lg-3">

        </div>
    </header>
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Informations: "}}}</label>
                    <br>
                    <br>
                    <ul id="infos" class="info">

                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Errors"}}}</label>
                    <br>
                    <br>
                    <ul id="errors" class="error">

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-6 details">
            <div class="">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#general">{{{__ "General"}}}</a></li>
                    <li><a data-toggle="pill" href="#crossCon">{{{__ "cross contaimination"}}}</a></li>
                </ul>

                <div class="tab-content">
                    <div id="general" class="tab-pane fade in active">
                        <form class="form-horizontal" role="form" method="post">
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Ident"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="ident" name="ident" disabled
                                           value="{{product.ident}}"/>
                                    <input type="text" class="form-control hidden" id="productId" name="id"
                                           value="{{product.id}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Name"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="name" name="name"
                                           value="{{product.name}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "State"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="displayState" name="displayState"
                                           value="{{product.displayState}}" disabled/>
                                    <input type="text" class="form-control hidden" id="state" name="state"
                                           value="{{product.state}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Unit size"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="unitSize" name="unitSize"
                                           value="{{product.unitSize}}"/>
                                </div>
                                <label class="unit">kg</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Shelf life"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="shelfLife" name="shelfLife"
                                           value="{{product.shelfLife}}"/>
                                </div>
                                <label class="unit">{{{__ "day"}}}</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Positive Deviation"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="positiveDeviation" name="positiveDeviation"
                                           value="{{product.positiveDeviation}}"/>
                                </div>
                                <label class="unit">%</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Negative deviation"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="negativeDeviation" name="negativeDeviation"
                                           value="{{product.negativeDeviation}}"/>
                                </div>
                                <label class="unit">%</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Creation Time"}}}</label>
                                <div class="col-md-4">
                                    <input type="datetime" class="form-control" id="createdAt" name="createdAt" disabled
                                           value="{{product.createdAt}}"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Update Time"}}}</label>
                                <div class="col-md-4">
                                    <input type="datetime" class="form-control" id="updatedAt" name="updatedAt" disabled
                                           value="{{product.updatedAt}}"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <button id='save' type="submit" class="btn btn-primary">{{{__ "save"}}}</button>
                            </div>
                        </form>
                    </div>
                    <div id="crossCon" class="tab-pane fade">
                        <div class="row">

                            <h3>TODO</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
{{#section 'jquery'}}
    <script src="/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/product.js"></script>
{{/section}}
