{{#section 'head'}}
    <link href="/vendor/jquery.dataTables.min.css" rel="stylesheet">
    <style>
        .title-Detail {
            padding-left: 25%;
            color: snow;
        }

        header {
            background-color: lightsteelblue;
        }

        .right-button {
            padding-top: 50%;
        }

        .details {
            padding-top: 1%;
            background-color: skyblue;
            padding-bottom: 15%;
        }

        .info {
            color: green;
        }

        .error {
            color: red;
        }
    </style>
{{/section}}








<div class="container main">
    <!--<input id="receipt" type="text" class="hidden" value="{{receipt}}"/>-->
    <!--<input id="packingCategory" type="text" class="hidden" value="{{packingCategory}}"/>-->
    <input id="products" type="text" class="hidden" value="{{products}}"/>
    <input id="mixers" type="text" class="hidden" value="{{mixers}}"/>
    <!--<input id="companys" type="text" class="hidden" value="{{companys}}"/>-->
    <header class="row">
        <div class="col-lg-3">
            <label id="error"></label>
        </div>
        <div class="col-lg-6">
            <h2 class="title-Detail">{{{__ "ProcessOrder Detail"}}}</h2>
            <a href="/order/process/ProcessOrderList">{{{__ "ProcessOrder List"}}}</a>
        </div>
        <div class="col-lg-3">

        </div>
    </header>
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Informations: "}}}</label>
                    <br>
                    <br>
                    <ul id="infos" class="info">

                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <label class="col-md-2 control-label">{{{__ "Errors"}}}</label>
                    <br>
                    <br>
                    <ul id="errors" class="error">

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-6 details">
            <div class="">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#general">{{{__ "General"}}}</a></li>
                    <li><a data-toggle="pill" href="#bom">{{{__ "BOM"}}}</a></li>
                </ul>

                <div class="tab-content">
                    <div id="general" class="tab-pane fade in active">
                        <form class="form-horizontal" role="form" method="post">
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Ident"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="ident" name="ident" disabled
                                           value="{{processOrder.ident}}"/>
                                    <input type="text" class="form-control hidden" id="processOrderId" name="id"
                                           value="{{processOrder.id}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Name"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="name" name="name"
                                           value="{{processOrder.name}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "State"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="displayState" name="displayState"
                                           value="{{processOrder.displayState}}" disabled/>
                                    <input type="text" class="form-control hidden" id="state" name="state"
                                           value="{{processOrder.state}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Product"}}}</label>
                                <div class="col-md-4">
                                    <select class="col-md-6" id="productsSelect">
                                        <option></option>
                                    </select>
                                    <input type="text" class="col-md-6 form-control" id="productIdent"
                                           value="{{processOrder.productIdent}}" disabled
                                    />
                                    <input type="text" class="col-md-6 form-control hidden" id="productId"
                                           value="{{processOrder.ProductId}}"
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Mixer"}}}</label>
                                <div class="col-md-4">
                                    <select class="col-md-6" id="mixersSelect">
                                        <option></option>
                                    </select>
                                    <input type="text" class="col-md-6 form-control" id="mixerIdent"
                                           value="{{processOrder.mixerIdent}}" disabled
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Line"}}}</label>
                                <div class="col-md-4">
                                    <input type="text" class="col-md-6 form-control" id="lineIdent"
                                           value="{{processOrder.lineIdent}}" disabled
                                    />
                                    <input type="text" class="col-md-6 form-control hidden" id="lineId"
                                           value="{{processOrder.LineId}}"
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Mixing Time"}}}</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" id="mixingTime" name="mixingTime"
                                           value="{{processOrder.mixingTime}}"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Target Weight"}}}</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" id="targetWeight" name="targetWeight"
                                           step="any"
                                           value="{{processOrder.targetWeight}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Pack Size"}}}</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" id="packSize" name="packSize"
                                           value="{{processOrder.packSize}}"/>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Creation Time"}}}</label>
                                <div class="col-md-4">
                                    <input type="datetime" class="form-control" id="createdAt" name="createdAt" disabled
                                           value="{{processOrder.createdAt}}"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{{__ "Update Time"}}}</label>
                                <div class="col-md-4">
                                    <input type="datetime" class="form-control" id="updatedAt" name="updatedAt" disabled
                                           value="{{processOrder.updatedAt}}"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <button id='save' type="submit" class="btn btn-primary">{{{__ "save"}}}</button>
                            </div>
                        </form>
                    </div>
                    <div id="bom" class="tab-pane fade">
                        <div class="row">

                            <div class="col-lg-3 col-md-3">

                                <select class="col-lg-8" id="rawProducts">
                                    <option></option>
                                </select>
                            </div>

                            <div class="col-lg-9 col-md-9">
                                <button id="newItem" class="glyphicon glyphicon-plus pull-right">{{{__ "New"}}}</button>
                                <button id="removeItem"
                                        class="glyphicon glyphicon-minus pull-right">{{{__ "Remove"}}}</button>
                            </div>
                        </div>
                        <div class="row">
                            <table id="bomTable" class="table table-bordered table-hover">
                                <caption>{{{__ "BOM list"}}}</caption>

                                <thead>
                                <tr>
                                    <th>{{{__ "ProductIdent"}}}</th>
                                    <th>{{{__ "TargetWeight"}}}</th>
                                    <th>{{{__ "TargetPercentage"}}}</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>{{{__ "ProductIdent"}}}</th>
                                    <th>{{{__ "TargetWeight"}}}</th>
                                    <th>{{{__ "TargetPercentage"}}}</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {{#each processOrder.orderItems}}
                                    <tr id="{{id}}">
                                        <td><label>{{productIdent}}</label></td>
                                        <td><input type="text" value="{{targetWeight}}" disabled>kg</td>
                                        <td><input type="number" step="any" value="{{targetPercentage}}" disabled>%</td>
                                    </tr>
                                {{/each}}
                                </tbody>

                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">

                            </div>
                            <div class="col-lg-3 col-md-3">

                            </div>
                            <div class="col-lg-5 col-md-5">
                                <label>{{{__ "total pectentage"}}}</label>
                                <input id="total" disabled>%
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <button id="checkProcessOrder" class="btn btn-primary">{{{__ "Check order"}}}</button>
            <button id='releaseProcessOrder' class="btn btn-danger">{{{__ "Release order"}}}</button>
        </div>
    </div>
</div>
{{#section 'jquery'}}
    <script src="/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/processOrder.js"></script>
{{/section}}
